{#
 Name: add.html.twig
 Author: Flavien Macquignon
 Date: 05/10/2020
 Comment: This file is a template to add a information about a influencer stored into the Bellybutton database
 #}

{% extends 'main/base.html.twig' %}


{% block title %} Ajouter un Influenceur {% endblock %}
{# FIXME stylesheet block is empty (no reference to this block)#}
{% block stylesheets %}

{% endblock %}

{% block body %}
<div>
    {{ form_start(Form) }}
    {{ form_row(Form.lname, {'label': 'Nom:'}) }}
    {{ form_row(Form.fname, {'label': 'Prénom:'}) }}
    {{ form_row(Form.mailpro, {'label': 'Mail Professionnel:'}) }}
    {{ form_row(Form.URLYT, {'label': 'URL Youtube:'}) }}
    {{ form_row(Form.URLIG, { 'label': 'URL Instagram:' }) }}
    {{ form_row(Form.URLTW, {'label':'URL Twitch:'}) }}
    {{ form_row(Form.URLTK, {'label':'URL TikTok:'}) }}
    {{ form_row(Form.agencyId, {'label': 'Agence:'}) }}
</div>
<div>
    <!--FIXME redirect this to path "addAgency"-->
    <aside><a href="{{ path('addAgency') }}"><button>Ajouter une Agence</button></a></aside>
</div>
<div>
    {{ form_row(Form.picture_small, {'label':'Miniature:'}) }}
    {{ form_row(Form.picture_large, {'label': 'Grand Format:'}) }}
    {{ form_row(Form.catAudience, {'label': 'Catégorie d\'Audience:'}) }}
    {{ form_row(Form.status, {'label':'Status BB:'}) }}
    {{ form_row(Form.Sector, {'label':'Secteur BB:'}) }}
    {{ form_row(Form.Description, {'label':'Description des présentation:'}) }}
    {{ form_row(Form.Commentary, {'label':'Commentaire interne:'}) }}

    {{ form_end(Form) }}
</div>

{% endblock %}