{#
Name: index.html.twig
Author: Flavien Macquignon
Date: 07/10/2020
Comment: This file is the template to the homepage of the influencer management dashboard
#}

{% extends 'main/base.html.twig' %}

{% block title %}

Influenceur Management

{% endblock %}

{% block body %}

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      padding: 0px;
      border-spacing: 0px;
    }
  </style>
</head>

<div>
  <div>
    <h1 style="text-align:center;">Influenceur Management</h1>
    <main>
      <div>
        <table>
          <thead>
            <tr>
              <th>Photo</th>
              <th>Nom </th>
              <th>Prénom </th>
              <th>Email </th>
              <th>Instagram </th>
              <th>Facebook </th>
              <th>Youtube </th>
              <th>Snapchat </th>
              <th>Agence </th>
            </tr>
          </thead>
          {% for user in users %}
          {% set k = loop.index0 %}
          <tbody>
            <!--TODO check how to break loop (look into the controller)-->
            <tr>
              <!-- FIXME check the issue with images; cannot link to local harddrive; need to see this "in production" -->
              <td> <img src="E:/Stage_BellyButton/BellyButtonV2/bellybutton-v2/assets/images/Influencer/about.jpg" alt="Display influencer miniature" /></td>
              <td> <a href="{{ path('selectInfluencer', {'userId':users[k].getId() } ) }} " > {{ users[k].getLastname() }} </a> </br> </td>
              <td> <a href="{{ path('selectInfluencer', {'userId':users[k].getId() } ) }} "> {{ users[k].getFirstname() }} </a> </br> </td>
              <td> <a href="mailto:{{ users[k].getEmail() }}"> {{ users[k].getEmail() }} </a> </br></td>
              <td> <a href="http://instagram.com/{{ users[k].getIdInstagram() }}"> {{ users[k].getIdInstagram() }}</a>  </br></td>
              <td> <a href="http://facebook.com/{{ users[k].getIdFacebook() }}">  {{ users[k].getIdFacebook() }}</a> </br></td>
              <td> <a href="http://youtube.com/c/{{users[k].getIdYoutube() }}"> {{ users[k].getIdYoutube() }} </a></br></td>
              <td> <a href="http://story.snapchat.com/s/{{ users[k].getIdSnapchat() }}">{{ users[k].getIdSnapchat() }}</a> </br></td>
              <td> <a href="{{path ('selectAgency', {agencyId: Agency[k].getnameAgency()} ) }}"> {{ Agency[k].getnameAgency() }}</a> </br></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock body %}