{#
Name: index.html.twig
Author: Flavien Macquignon
Date: 07/10/2020
Comment: This file is the template to the homepage of the influencer management dashboard
#}

{% extends 'main/base.html.twig' %}
{% block title %} Influenceur Management {% endblock %}

{% block body %}

<div>
  <div class="influencerManagement">
    <h1>this is a test</h1>
    <main>
      <div class="list_influenceur">
        {% for user in users %}
        <!--TODO check style-->
        <table align="center" style="width: 100px;">
          <tbody>
            <!--TODO check how to break loop (look into the controller)-->
            {% set k = loop.index0 %}
            <tr>
              <td> {{ users[k].getLastname() }}</br></td>
              <td> {{ users[k].getFirstname() }}</br></td>
              <td> {{ users[k].getEmail() }}</br></td>
              <td> {{ users[k].getIdInstagram() }}</br></td>
              <td> {{ users[k].getIdFacebook() }}</br></td>
              <td> {{ users[k].getIdYoutube() }}</br></td>
              <td> {{ users[k].getIdSnapchat() }}</br></td> 
              <td> {{ Agency[k].getnameAgency() }}</br></td>           
            </tr>
            
            </tbody>
        </table>
        {% endfor %}
      </div>
    </main>
  </div>
</div>

{% endblock body %}